[submodule "elisp/elisp/aweshell"]
	path = elisp/elisp/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "elisp/awesome-tab"]
	path = elisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
[submodule "elisp/--force"]
	path = elisp/--force
	url = https://github.com/manateelazycat/lazycat-theme.git
[submodule "elisp/lazycat-theme"]
	path = elisp/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme.git
