[submodule "elisp/awesome-tray"]
	path = elisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "elisp/nano-emacs"]
	path = elisp/nano-emacs
	url = https://github.com/rougier/nano-emacs.git
[submodule "elisp/snails"]
	path = elisp/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "elisp/markmacro"]
	path = elisp/markmacro
	url = https://github.com/manateelazycat/markmacro.git
